*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

p{
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 15px;
}
.container{
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.header-section {
    display: flex;
    align-items: center;
}

.col-md-6{
    width: 40%;
    float: left;
}

.header-text {
    padding-right: 20px;
}

.top-image-right{
    width: 100%;
}
.header-heading-bottom {
    margin-bottom: 20px;
    font-size: 45px;
}
.author-name{
    color: #FFAF26;
}

.paragraph-margin{
    margin-bottom: 10px;
}

.half-image img{
    width: 100%;
    height: 100%;
}

.half-image {  
    display: flex;
    justify-content: center;
}

.hireme-button {
    color: #fff;
    padding: 5px 20px 5px  20px;
    background-image: linear-gradient(to right, #FC7C52, #FFAF26);
    border: none;
    border-radius: 5%;
    text-decoration: none;
}

.header-text p {
    margin-bottom: 10px;
}

.hero-section-header {
   background-repeat: no-repeat;
   background-image: url(../images/top-banner.png);
}

.dream-area-text {
    margin-left: 70px;
}

.dream-area{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.fullstuck-web-area, .baby-web-area{
    box-shadow: 5px 5px 23px #aea8a8;
    padding: 20px;
    border-radius: 5px;
    height: 250px;
}

.fullstuck-web-area {
    margin-right: 30px;
}

.experience-area{
    background-image: url("../images/exp-bg.png");
    background-repeat: no-repeat;
    height: 250px;
    background-position: left;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

.footer-area{
    text-align: center;
    color: #ddd;
}